/*General CSS*/
body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Main Navigation CSS*/
nav {
    background: #000000;
    padding: 0 45px;
}

nav ul.main-nav {
    margin: 0;
    padding: 0;
}

nav ul div li a{
    color: white;
}

nav ul li.logo {
    flex: 1;
}

nav ul div.nav-items{
    display: inline-flex;
    padding: 0 45px;
}

nav ul div.nav-items a {
    text-decoration: none;
    font-size: 20px;
    padding: 0 45px;
}

nav ul div.nav-items button {
    border-radius: 20px;
    width: 90px;
    font-size: 20px;
    padding: 0 45px;
    border: none;
    background-color: #FDC62E;
    display: flex;
    align-content: center;
    justify-content: center;
}
nav ul div.nav-items button:hover{
    background-color: #04446C;
    color: #FEFEFE
}

.search-box {
    background: white;
    border-radius: 40px;
    height: 40px;
    padding: 3px;
}

.search-button {
    float: right;
}

.search-text {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0 10px;
    color: #000000;
    font-size: 20px; 
    transition: 0.4s;
    line-height: 34px;
    width: 240px;
}

/*Footer CSS*/
.footer-container {
    background: #000000;
    padding: 0 30px;
    margin: 0;
}

.footer-items {
    grid-area: LINKS;
}

.foot-logo {
    grid-area: LOGO;
}

.social-footer {
    grid-area: SOCIAL;
}

footer ul.footer-nav {
    padding: 30px 0;
    margin: 0;
    display: grid;
    align-content: center;
    justify-content: space-between;
    grid-template-columns: auto auto auto;
    grid-template-areas: 
    "LINKS LOGO SOCIAL";
}

.Contact {
    grid-area: CON;
}

.Forum {
    grid-area: FOR;
}

.FAQ {
    grid-area: FAQ;
}

.Accessibility {
    grid-area: ACC;
}

.Resources {
    grid-area: RES;
}

footer ul div.foot-items {
    padding: 0 20px;
    padding-right: none;
    flex: 1;
    display: grid;
    grid-column-gap: 45px;
    grid-row-gap: 20px;
    justify-content: start;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "CON ACC"
    "FOR RES"
    "FAQ FAQ";
}

footer ul div.foot-items li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

footer div.social-footer {
    float: right;
    display: inline-flex;
    padding: 0;
}

footer div.social-footer a{
    padding: 0 15px;
}

/*Hero Section CSS*/
.hero {
    background-image: url("../images/Hero_Image.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    padding: 0 45px;
}

.hero h1 {
    color: white;
    width: 450px;
}

.hero img {
    width: 25%;
}

.hero .fmm_btn {
    background: #FCD66D;
    border-radius: 20px;
}

/*Resorts Page CSS Styling*/

.editText{
    text-align: center;
    /*margin-top: 5%;*/
    /*display: block;*/
    background-color: #C1D1DC;
    margin-bottom: -38px;
    color: black;
}


.editSpace .editText{
    height: 100px;
    line-height: 75px;
}

#expandButton{
    margin: 0 auto;
    display: block;
    background-color: hsl(44, 98%, 59%);
    border-radius: 10px;
    border-color: #FEFEFE;
    color:black;
    border-width: 4px;
    transform: translate(0, 45%);
    width:200px;
}
#expandButton:hover {
    background-color: black;
    color:#FEFEFE;
  }

/*  #navLink{
    margin-left: -4%;
    margin-right: -4%;
    height: auto;
}
*/
.list-group-flush{
    background-color: #04446C;
    padding-top: 1%;
    padding-bottom: .5%;
    border-color: black;
    border-width: 2%;
    /*margin-left: -12%;*/
}
#sections{
    background-color: #45738F;
    max-width: 100%;
}
#mountImg{
    margin-right: 4%;
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 20px;
    display:inline-block;
    box-shadow: 0px 3px #3B6077;
}
#runsImg{
    margin-right: 4%;
    border-radius: 20px;
    display:inline-block;
    transform: translate(275%, -200%);
    box-shadow: -1.5px 3px #3B6077;
}
#amenImg{
    margin-right: 4%;
    border-radius: 20px;
    display: inline-block;
    transform: translate(113.5%, 2%);
 
}
#amenImg2{
    margin-right: 4%;
    border-radius: 20px;
    display: inline-block;
    transform: translate(113.5%, 1.5%);
 
}
#amenImg3{
    margin-right: 4%;
    border-radius: 20px;
    display: inline-block;
    transform: translate(113.5%, .5%);
 
}
#amenText{
    display: inline-block;
    position:absolute;
    padding: 5%;
    color:#FEFEFE;
    overflow: hidden;
    max-width: 60ch;
    margin-top: 2%;
    margin-left: -4%;
    
}
#resortName{
    display:inline-flex;
    position: absolute;
    color: #FEFEFE;
    text-shadow: .5px 3.5px #3B6077;
    margin-top: 2%;
}






.container {
    position: relative;
    width: 100%;
    margin: 2%;
  }


  
  /* Style the button and place it in the middle of the container/image */
  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-215%, 140%);
    -ms-transform: translate(50%, 50%);
    background-color: #FDC62E;
    color: black;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    width: 229.5px;
    height: auto;
    text-align: center;
    box-shadow: 0px 1.5px #000000;
  }
  
  .container .btn:hover {
    background-color: black;
    color:#FEFEFE;
  }