/*General CSS*/
body {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

.foot-items li a:hover{
    color: #04446C;
}

li a:hover{
    color: #04446C;
}

/*Main Navigation CSS*/
nav {
    background: #000000;
    padding: 0 45px;
}

nav ul.main-nav {
    margin: 0;
    padding: 0;
}

nav ul div li a{
    color: white;
}

nav ul li.logo {
    flex: 1;
}

nav ul div.nav-items{
    display: inline-flex;
    padding: 0 45px;
}

nav ul div.nav-items a {
    text-decoration: none;
    font-size: 20px;
    padding: 0 45px;
}

nav ul div.nav-items button {
    border-radius: 20px;
    width: 90px;
    font-size: 20px;
    padding: 0 45px;
    border: none;
    background-color: #FDC62E;
    display: flex;
    align-content: center;
    justify-content: center;
}
nav ul div.nav-items button:hover{
    background-color: #04446C;
    color: #FEFEFE
}

.search-box {
    background: white;
    border-radius: 40px;
    height: 40px;
    padding: 3px;
}

.search-button {
    float: right;
}

.search-text {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0 10px;
    color: #000000;
    font-size: 20px; 
    transition: 0.4s;
    line-height: 34px;
    width: 240px;
}

/*----------------------Footer CSS-------------------------------------------------------*/
.footer-container {
    background: black;
    padding: 0 30px;
    margin: 0;
    z-index: 1;
}

.footer-items {
    grid-area: LINKS;
}

.foot-logo {
    grid-area: LOGO;
}

.social-footer {
    grid-area: SOCIAL;
}
.social-footer:hover{
    background-image:hsl(44, 98%, 59%);
}

footer ul.footer-nav {
    padding: 30px 0;
    margin: 0;
    display: grid;
    align-content: center;
    justify-content: space-between;
    grid-template-columns: auto auto auto;
    grid-template-areas: 
    "LINKS LOGO SOCIAL";
}

.Contact {
    grid-area: CON;
}

.Forum {
    grid-area: FOR;
}

.FAQ {
    grid-area: FAQ;
}

.Accessibility {
    grid-area: ACC;
}

.Resources {
    grid-area: RES;
}

footer ul div.foot-items {
    padding: 0 20px;
    padding-right: none;
    flex: 1;
    display: grid;
    grid-column-gap: 45px;
    grid-row-gap: 20px;
    justify-content: start;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "CON ACC"
    "FOR RES"
    "FAQ FAQ";
}

footer ul div.foot-items li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

footer div.social-footer {
    float: right;
    display: inline-flex;
    padding: 0;
}

footer div.social-footer a{
    padding: 0 15px;
}

/*---------------------------------------Hero Section CSS------------------------------------------*/
.hero {
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
    url("../images/Hero_Image.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
    display: flex;
    padding: 0 45px;
}

.hero h1 {
    color: white;
    width: 750px;
    transform: translate(0, 60%);
    font-size: 70px;
    font-family: 'Russo One', sans-serif;
}

.hero img {
    width: 30%;
    height: 30%;
    transform: translate(30%, 30%);
}

#fmm-btn {
    margin: 0 auto;
    margin-top: -44px;
    display: block;
    background-color: #FDC62E;
    border-radius: 10px;
    border-color: #FEFEFE;
    font-family: 'Russo One', sans-serif;
    border-width: 4px;
    color: black;
    transform: translate(0, 45%);
    width: 200px;
    height: 50px;
}

#fmm-btn:hover {
    background-color: black;
    color: #FEFEFE;
}

/*-------------------------------Sign Up Form-----------------------------------------*/
.welcome-msg {
    grid-area: MSG;
    display: inline-block;
    text-align: left;
    width: 78%;
    transform: translate(0, 15%);
}

.welcome-msg h2 {
    font-size: 48px;
    padding-bottom: 50px;
}

.welcome-msg p {
    font-size: 24px;
}

.signup-form {
    grid-area: FORM;
    display: inline-block;
    transform: translate(0, 15%);
}

.pagelinks {
    grid-area: PLINKS;
    display: inline-flex;
}

.signup-container {
    background-image: 
    linear-gradient(to bottom, rgba(4, 68, 108, 1), rgba(0, 0, 0, 1));
    color: white;
    padding: 0 45px;
    height: 1050px;
    display: grid;
    grid-template-columns: 54% 46%;
    grid-template-rows: auto auto;
    grid-template-areas: 
    " MSG FORM"
    "PLINKS PLINKS";
}

.signup-form .email-form {
    padding-bottom: 10px;
}

.signup-form .email-form p {
    padding: 0;
    margin: 0;
    font-size: 15px;
}

.signup-form .email-form input {
    width: 100%;
    padding-right: 45px;
    height: 35px;
}

.signup-form .password-form {
    padding-bottom: 10px;
}

.signup-form .password-form p{
    padding: 0;
    margin: 0;
    font-size: 15px;
}

.signup-form .password-form input{
    width: 100%;
    padding-right: 45px;
    height: 35px;
}

.signup-form .confirm-form {
    padding-bottom: 20px;
}

.signup-form .confirm-form p {
    padding: 0;
    margin: 0;
    font-size: 15px;
}

.signup-form .confirm-form input {
    width: 100%;
    padding-right: 45px;
    height: 35px;
}

.signup-cta {
    padding-bottom: 60px;
}

#signup-btn {
    margin: 0 auto;
    display: block;
    background-color: #FDC62E;
    border-radius: 25px;
    border-color: #FEFEFE;
    font-family: 'Russo One', sans-serif;
    border-width: 4px;
    color: black;
    transform: translate(0, 45%);
    width: 200px;
    height: 50px;
}

#signup-btn:hover {
    background-color: black;
    color: #FEFEFE;
}

.signup-form .spacer {
    transform: translate(50%, 0);
    padding-bottom: 20px;
}

.signup-form .form-icons {
    display: inline-flex;
    transform: translate(67%, 0);
}

.signup-form .form-icons a {
    padding: 0 20px;
}

.signup-form .form-icons a:hover {
    color: #FDC62E;
}

.signup-form .form-icons .google-su {
    transform: translate(0, 4%);
}

.signup-form .form-icons .twitter-su {
    transform: translate(0, 10%);
}

.pagelinks {
    transform: translate(-57px, 17.8%);
    height: 85%;
}

.pagelinks .trending-resorts {
    padding-right: 0;
}

.pagelinks .trending-resorts img {
    width: 485px;
    height: 100%;
}

.pagelinks .upcomingevents {
    padding-right: 0;
}

.pagelinks .upcomingevents img{
    width: 485px;
    height: 100%;
}

.pagelinks .forum img{
    width: 485px;
    height: 100%;
}

.pagelinks .trending-resorts{
    position: relative;
    width: 100%;
}

.pagelinks .trending-resorts .btn {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 94.3%;
    transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(253, 198, 46, 0.84);
    color: black;
    font-size: 36px;
    padding: 12px 0;
    border: none;
    cursor: pointer;
} 

.pagelinks .trending-resorts {
    transition: all .2s ease-in-out;
}

.pagelinks .trending-resorts:hover {
    transform: scale(1.1) translate(0, -4.6%);
}

.pagelinks .upcomingevents {
    position: relative;
    width: 100%;
}

.pagelinks .upcomingevents .btn {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 94.3%;
    transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(253, 198, 46, 0.84);
    color: black;
    font-size: 36px;
    padding: 12px 0;
    border: none;
    cursor: pointer;
} 

.pagelinks .upcomingevents {
    transition: all .2s ease-in-out;
}

.pagelinks .upcomingevents:hover {
    transform: scale(1.1) translate(0, -4.6%);
}

.pagelinks .forum {
    position: relative;
    width: 100%;
}

.pagelinks .forum .btn {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 94.3%;
    transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(253, 198, 46, 0.84);
    color: black;
    font-size: 36px;
    padding: 12px 0;
    border: none;
    cursor: pointer;
} 

.pagelinks .forum {
    transition: all .2s ease-in-out;
}

.pagelinks .forum:hover {
    transform: scale(1.1) translate(0, -4.6%);
}

/*-------------------------------Resorts Page CSS Styling---------------------------------------------------*/

.editText{
    text-align: center;
    /*margin-top: 5%;*/
    /*display: block;*/
    background-color: #C1D1DC;
    margin-bottom: -38px;
    color: black;
    /*background: rgba(193,209,220,26%)*/
}
.editSpace .editText{
    height: auto;
    padding-bottom: 1%;
    line-height: 75px;
}
#expandButton{
    margin: 0 auto;
    display: block;
    background-color: hsl(44, 98%, 59%);
    border-radius: 10px;
    border-color: #FEFEFE;
    color:black;
    border-width: 4px;
    transform: translate(0, 45%);
    width:200px;
}
#expandButton:hover {
    background-color: black;
    color:#FEFEFE;
  }
.list-group-flush{
    background-color: #04446C;
    padding-top: 1%;
    padding-bottom: .5%;
    border-color: black;
    border-width: 2%;
    background-image: linear-gradient(#04446C, #01131E);
    /*margin-left: -12%;*/
}
#sections{
    background-color: #45738F;
    max-width: 100%;
    background-image: linear-gradient(#45738F, #45738B);
}
#mountImg{
    margin-right: 4%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 20px;
    display:inline-block;
    box-shadow: 0px 3px #3B6077;
}
#runsImg{
    margin-right: 4%;
    border-radius: 20px;
    display:inline-block;
    transform: translate(275%, -200%);
    box-shadow: -1.5px 3px #3B6077;
}
#amenImg{
    margin-right: 4%;
    border-radius: 20px;
    display: inline-block;
    transform: translate(113.5%, 2%);
 
}
#amenImg2{
    margin-right: 4%;
    border-radius: 20px;
    display: inline-block;
    transform: translate(113.5%, 1.5%);
 
}
#amenImg3{
    margin-right: 4%;
    border-radius: 20px;
    display: inline-block;
    transform: translate(113.5%, .5%);
 
}
#amenText{
    display: inline-block;
    position:absolute;
    padding: 5%;
    color:#FEFEFE;
    overflow: hidden;
    max-width: 60ch;
    margin-top: 2%;
    margin-left: -4%;
    
}
#resortName{
    display:inline-flex;
    position: absolute;
    color: #FEFEFE;
    text-shadow: .5px 3.5px #3B6077;
    margin-top: 2%;
}
.container {
    position: relative;
    width: 100%;
    margin: 2%;
  }
  /* Style the button and place it in the middle of the container/image */
  .container .btn {
    position: absolute;
    top: 70%;
    left: 9.5%;
    /*transform: translate(-228%, 140%);*/
    /*-ms-transform: translate(50%, 50%);*/
    background-color: #FDC62E;
    color: black;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    width: 229.5px;
    height: auto;
    text-align: center;
    box-shadow: 0px 1.5px #000000;
  }
  
  .container .btn:hover {
    background-color: black;
    color:#FEFEFE;
  }
/*----------------------------------Crested Butte CSS Styling----------------------------------*/
.aboutSpace .aboutText{
    height: auto;
    max-width: 100%;
    background: rgba(71, 104, 125, 74%);    
    /*transform: translate(0, -840.5%);*/
    position: absolute;
}
.aboutSpace{
    /*max-height: auto;*/
}
.aboutText{
    text-align: left;
    padding: 5%;
    /*background-color: #47687D;*/
    color: #FFFFFF;
    /*max-width: 40ch;*/
    /*opacity: .7;*/
}

.infoSpace .infoText{
    background: rgba(4,68,108,25%);
    transform: translate(0, -283%);
    padding-left: 5%;
    padding-top: 40px;
    height: 600px;
}
.knowText{
    transform: translate(0, -9200%);
    padding-left: 5%;
    color:#FEFEFE;
}
.airportText{
    transform: translate(0, -4370%);
    padding-left: 5%;
    color:#FEFEFE;
    max-width: 60ch;
}
.moreText{
    padding-left: 5%;
    transform: translate(0, -7400%);
    color:#FEFEFE;
}
.highlightsHeader{
    transform: translate(0, -4500%);
    padding-left: 5%;
    color:#FEFEFE;
}
.airportsHead{
    transform: translate(0, -4375%);
    padding-left: 5%;
    color:#FEFEFE;
}
.highList{
    display: block;
    padding-left: 6%;
    transform: translate(0, -3000%);
    color:#FEFEFE;
    list-style-type:'✓';
}
.infoText{
    color:#FEFEFE;
}
.mapImg{
    transform: translate(150%, -520%);
}
/*  #navLink{
    margin-left: -4%;
    margin-right: -4%;
    height: auto;
}
*/
  #crestedHero{
     max-width: 100%;
      height: auto;
      margin-bottom: -1px;
  }
  #crestedBack{
    max-width: 100%;
     height: auto;
 }
